
.centerMaker {
  display: flex;
  justify-content: center;
  margin: 4rem 15%;
}

.hospitals-container {
  display: grid;
  column-gap: 2rem;
  row-gap: 4rem;
}

/* .hospitals-container__mobileSize{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  row-gap: 4rem;
} */

.searchBox {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.searchText{
  display: flex;
  direction: rtl;
  justify-content: center;
  margin-top: 2rem;
  color: gray;
  /* width: 30%; */
}


.searchBox input {
  text-align: right;
  width: 30%;
  padding: 0.7rem;
  border-radius: 10px;
  font-size: 16px;
}
