@font-face {
  font-family: "Dana";
  src: url('../fonts/Dana-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dana";
  src: url("../fonts/Dana-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}


html , body{
  font-family: "Dana" , sans-serif;
  margin: 0px;
  /* padding: 0px; */
}

a{
  color : #0070f3;
  text-decoration: none;
}
/* a:hover {
  text-decoration: none;
} */