 /* span {
    margin: 0 1rem;
    color: white;
    font-weight: bold;
    font-size: 20px;
} */

/* input {
    border-radius: 6px;
    border-style: hidden;
    padding: .5rem 1rem;
    text-align: right;
} */